# Ignore system files globally
.DS_Store
Thumbs.db

# Ignore all environment files across folders
**/.env

# Node modules in all subprojects
**/node_modules/

# Output and cache folders
**/dist/
**/.turbo/
**/.cache/
**/.output/

# IDE/project settings
.vscode/
.idea/
*.swp

# Logs
*.log
*.tsbuildinfo
